<div>
  <ejs-pivotview #pivotview
                 id='PivotView'
                 [dataSourceSettings]="dataSourceSettings"
                 height="350"
                 width="100%"
                 [gridSettings]="gridSettings"
                 [showToolbar]="true"
                 [showFieldList]="true"
                 [enableValueSorting]="true"
                 [allowDrillThrough]="true"
                 [allowNumberFormatting]="true"
                 [allowConditionalFormatting]="true"
                 [allowExcelExport]="true"
                 [allowPdfExport]="true"
                 [enableVirtualization]="true"
                 [allowDataCompression]="true"
                 [toolbar]="toolbarOptions"
                 (toolbarRender)="onToolbarRender($event)">
  </ejs-pivotview>
</div>